<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<form name="Login" id="Login" method="POST" action="/as/fVUMw/resume/as/authorization.ping" autocomplete="off">



		<h3>Use your e-mail address</h3>



		<label>E-mail address:</label>

		<input id="username" type="text" name="pf.username" value="">

			<div class="email-login-help clearfix">


	</div>


			<label>Computer password:

</label>

 			<input id="password" type="password" autocomplete="off" name="pf.pass" class="computer-pass" onpaste="return false">

<div style="float: left;clear: both;">
			<span class="help"><a href="https://hpitprod.service-now.com/sspr.do" target="_blank" style="font-size: 12px;">HP Employee - Forgot Password?</a></span>
			<br><span class="help"><a href="https://login-uid-itg.ext.hp.com/ext/pwdreset/Identify?AdapterId=msp" target="_blank" style="font-size: 12px;">HP Partner - Forgot Password?</a></span>
</div>

<div class="submit-row"><input type="submit" onclick="this.disabled=true;postOk();" class="btn btn-primary" value="Log on"> </div>



			<br>

			<span class="get-it" style="font-size: 12px">If you are an HP employee and having difficulties,
				please go to <a href="https://hpitprod.service-now.com/hp" target="_blank">HPNow.</a>
			</span>
			<br>
			<br>
			<span class="get-it" style="font-size: 12px">If you are an HP Business Partner and having difficulties,
				please reach out to HP Business relationship manager to submit ticket at <a href="https://itg-oneuid.msp.hp.com" target="_blank">MSP Portal.</a>
			</span>


               <div class="ping-buttons" style="position: relative; margin: 18px 0 12px 0;">

                    <input type="hidden" name="pf.ok" value="">

                    <input type="hidden" name="pf.cancel" value="">







		</div></form>

</body>
</html>